#!/usr/bin/make -f

override_dh_auto_build:

override_dh_auto_install:
	python2  setup.py install --no-compile --install-layout=deb --root=$(shell pwd)/debian/tmp
	python3  setup.py install --no-compile --install-layout=deb --root=$(shell pwd)/debian/tmp


%:
	dh $@ --with python2
